body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-color 0.8s ease, transform 0.8s ease;
  }
  
  body.page2 {
    background-color: #e0e0e0;
    transform: scale(0.9);
  }
  
  .logo img {
    max-width: 200px;
    height: auto;
    border: 5px solid #000;
    transition: transform 0.5s ease;
  }
  
  .logo img:hover {
    transform: scale(1.2);
  }
  
  .btn {
    width: 200px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }
  
  .btn:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
  }

  .animate__animated {
    animation-duration: 0.8s;
  }